.card--content {
  margin: $space-double $space;

  &--photography {
    border: 3px solid $black;
    padding: 5px;

    img {
      width: 100%;
      max-width: $max-width;
      height: auto;
    }

    &-caption {
      background-color: $black;
      color: $white;
      font-size: $font-size;
      text-align: center;
      padding-top: 5px;
    }
  }

  &--caption {
    background-color: $gray-lighter;
    font-size: $font-double;
    display: flex; 
    align-items: center; 
    justify-content: center;
  }

  &--image {
    img {
      width: 100%;
    }
  } 
}
